/*假分页样式*/

#pageArea {
    clear: both;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    padding-top: 22px;
	margin-bottom: 20px;
    padding-left: 420px;
}

#pageArea #pageDec {
    float: left;
    text-align: right;
}
#pageArea #pageDec a{
    display: inline-block;
    width: 60px;
    text-align: center;
    color: #FFFFFF;
    background-color: #D0D0D0;
}
#pageArea #pageDec span {
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin: 0 3px;
    line-height: 30px;
    padding: 0 10px;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    background-color: #D0D0D0;
}

#pageArea #pageDec strong {
    cursor: pointer;
    float: left;
    background: #93c7ef;
    border: 1px solid #85b3d6;
    font-weight: bold;
    color: #fff;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px
}

#pageArea #pageDec a,
#pageArea #pageDec a:visited {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    display: inline-block;
    margin: 0 3px;
}

#pageArea #pageDec a:hover {
    background: #0c6db6;
    color: #FFFFFF!important;
    text-decoration: none;
}

#pageArea #pageSelect label {
    float: left;
    padding-top: 8px;
    width: 36px;
}
#pageSelect span{
    float: left;
}
#pageArea #pageJump {
    border: #E8E8E8 solid 1px;
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-align: center;
    margin: 0 3px;
    float: left
}

#pageArea span {
    padding-top: 8px
}
#pageCount{
    width: 58px;
}
#pageArea .btn2 {
    padding: 0;
    margin-left: 8px;
    float: left;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border: none;
    color: #FFFFFF;
    background-color: #0c6db6;
}
.pageList{
    padding-left: 270px !important;
}
